@using AspNetMonsters.Blazor.Geolocation
@using BlazorApp2.Shared
@inject LocationService  LocationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager



@page "/messagerugger/{id:guid}"

<div class="container-fluid">
    <div class="row">
        <h3>Message @ruggerInfo.Name</h3>
    </div>
    <div class="row">

        <img id="profilepic" src="@ruggerInfo.ImageURI" class="img-fluid float-right" />

    </div>

    <div class="row">
        <EditForm class="form-inline" Model="@Messagetosend" OnValidSubmit="@HandleSendMessage">

            <div class="form-group mb-2">
                <label for="message" class="sr-only">Type a message:</label>
                <InputText placeholder="✍️" class="form-control form-control-plaintext border-bottom" id="message" @bind-Value="Messagetosend" />
            </div>
            <button class="btn btn-primary mb-2" type="submit">Send</button>
        </EditForm>
    </div>
    <div class="row">
        <ul class="list-group">
            @foreach (var m in messModel)
            {
                <li class="list-group-item @GetColor(m.From)"><div class="@Floatside(m.From)">@m.Message</div></li>
            }
        </ul>
    </div>
</div>
@code {
        [Parameter]
        public Guid Id { get; set; }
    private string guidstring = string.Empty;
    public IEnumerable<RuggerMessageModel> messModel = new RuggerMessageModel[0];
    public string Messagetosend { get; set; } = string.Empty;
    public ProfileInfo ruggerInfo { get; set; } = new ProfileInfo();
    protected override async Task OnInitializedAsync()
    {
        //get pending messages
        guidstring = await localStorage.GetItemAsync<string>("guid");
        if (string.IsNullOrEmpty(guidstring))
        {
            NavigationManager.NavigateTo("/");
        }
        var rmargs = new RuggerMessagePostArgs();
        rmargs.TheirGuid = Id;
        rmargs.MyGuid = Guid.Parse(guidstring);

        messModel = await Http.GetFromJsonAsync<IEnumerable<RuggerMessageModel>>($"ruggermessage/{guidstring}/{Id}");
        ruggerInfo = await Http.GetFromJsonAsync<ProfileInfo>($"profile/{Id}");
    }
    protected async Task HandleSendMessage()
    {
        var a = new RuggerMessagePostArgs();
        a.MyGuid = Guid.Parse(guidstring);
        a.TheirGuid = Id;
        a.Message = Messagetosend;
        await Http.PostAsJsonAsync("/ruggermessage", a);
        messModel = await Http.GetFromJsonAsync<IEnumerable<RuggerMessageModel>>($"ruggermessage/{guidstring}/{Id}");

    }
    protected async Task SendIfEnter(KeyboardEventArgs args)
    {

        if (args.Key == "Enter")
        {
            await HandleSendMessage();
        }
    }
    protected string GetColor(Guid guid)
    {
        if (guidstring == guid.ToString())
        {
            return "list-group-item-light float-right";
        }
        else
        {
            return "list-group-item-dark";
        }
    }
    protected string Floatside(Guid guid)
    {
        if (guidstring == guid.ToString())
        {
            return "float-right";
        }
        else
        {
            return "float-left";
        }
    }

}